certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
Jinja2==3.1.4
libvirt-python==10.5.0
MarkupSafe==2.1.5
pycdlib==1.14.0
python-gnupg==0.5.2
PyYAML==6.0.1
requests==2.32.3
-e git+ssh://git@github.com/memblin/tkc-lvlab-py.git@ae5ab3c16c490ec26b6e8d38c318237db5bf3bd5#egg=tkc_lvlab
tqdm==4.66.4
urllib3==2.2.2
