
# Libvirt Labs /etc/hosts snippet
# Environment: {{ config.env.name }}
{%- for entry in config.hosts %}
{{ entry.ip4 }} {{ entry.fqdn }} {{ entry.hostname }}
{%- endfor %}
{# Ensure newline at end of rendered output #}
