#cloud-config

manage_etc_hosts: true
hostname: {{config.hostname}}
fqdn: {{config.hostname}}.{{config.domain}}

users:
  - name: {{ config.cloud_init.user }}
    ssh_authorized_keys:
      - {{ config.cloud_init.pubkey }}
    sudo: {{ config.cloud_init.sudo }}
    shell: {{ config.cloud_init.shell }}
{%- if config.cloud_init.runcmd is defined and config.cloud_init.runcmd | length > 0 %}
runcmd:
  {%- for command in config.cloud_init.runcmd %}
  {%- if '\n' in command %}
  - |
    {{ command.split('\n')[0] }}
    {%- for line in command.split('\n')[1:] %}
    {{ line }}
    {%- endfor %}
  {%- else %}
  - {{ command | indent(4) }}
  {%- endif %}
  {%- endfor %}
{%- endif %}
{%- if config.cloud_init.mounts is defined and config.cloud_init.mounts | length > 0 %}
mounts:
  {%- for mount in config.cloud_init.mounts %}
  - {{ mount }}
  {%- endfor %}
{%- endif %}

{# Ensure a blank line at end of rendered file #}
