---
network:
  version: {{ config.network_version.value }}
  ethernets:
    {%- for iface in config.interfaces %}
    {{ iface.name }}:
      {%- if iface.ip4 %}
      dhcp4: false
      dhcp6: false
      {%- else %}
      dhcp4: true
      dhcp6: true
      {%- endif %}
      {%- if iface.ip4 %}
      addresses:
        - {{ iface.ip4 }}
      {%- if config.nameservers.search is defined and config.nameservers.search | length > 0 %}
      nameservers:
        search:
          {%- for search_domain in config.nameservers.search %}
          - {{ search_domain }}
          {%- endfor %}
        addresses:
          {%- for dns_server in config.nameservers.addresses %}
          - {{ dns_server }}
          {%- endfor %}
      {%- endif %}
      routes:
        - to: 0.0.0.0/0
          via: {{ iface.ip4gw }}
      {%- endif %}
   {%- endfor %}

{# Ensure newline at end of rendered file #}
